
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffa784;
  color: #ffa784 !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  box-shadow: inset 0 0 0 2px #10d3c9;
  color: #10d3c9 !important;
}


h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border-bottom: 0;
  color: #ffa784;
  text-decoration: none;
}

a:hover {
  border-bottom-color: transparent;
  color: #10d3c9 !important;
}

p {
  text-align: center;
  margin: 0 0 2rem 0;
}

/* design.html */
.tudo-design {
	background-color: #f5f5f5;
	margin-left: 5em;
	margin-right: 5em;
	margin-bottom: 2em;
	padding-left: 4em;
  padding-right: 4em;
}
.titulo-design {
  font-family: "Source Sans Pro"
	font-size: 5em;
	text-align: center;
	font-weight: bold;
	color: #b5d7cd;
}

.titulo-design {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    color: #b5d7cd;
}

.titulo-design {
    font-family: "Source Sans Pro" font-size: 3em;
    text-align: center;
    font-weight: bold;
    color: #b5d7cd;

.conteudo-design {
  font-size: 1em;
	text-align: center;
	font-weight: normal;
	color: #717981;
}
.conteudo-design img {
  	width: 80vw;
  }

  /* Oficinas.html */
  .tudo-oficinas {
  	background-color: #f5f5f5;
  	margin-left: 5em;
  	margin-right: 5em;
  	margin-bottom: 2em;
  	padding-left: 4em;
    padding-right: 4em;
  }
  .titulo-oficinas {
  	font-size: 5em;
  	text-align: center;
  	font-weight: bold;
  	color: #b5d7cd;
  }

  .texto-oficinas {
  	font-size: 1em;
  	text-align: center;
  	font-weight: normal;
  	color: #717981;
  }
  .conteudo-oficinas {
  	font-size: 1em;
  	text-align: center;
  	font-weight: normal;
  	color: #717981;
  }
  .conteudo-oficinas img {
    	width: 80vw;
    }

    /* ferramentas.html */
    .tudo-ferramentas {
    	background-color: #f5f5f5;
    	margin-left: 5em;
    	margin-right: 5em;
    	margin-bottom: 2em;
    	padding-left: 4em;
      padding-right: 4em;
    }
    .titulo-ferramentas {
    	font-size: 5em;
    	text-align: center;
    	font-weight: bold;
    	color: #b5d7cd;
    }

    .texto-ferramentas {
    	font-size: 1em;
    	text-align: center;
    	font-weight: normal;
    	color: #717981;
    }
    .conteudo-ferramentas {
    	font-size: 1em;
    	text-align: center;
    	font-weight: normal;
    	color: #717981;
    }
    .conteudo-ferramentas img {
      	width: 80vw;
      }


      /* desenho.html */
      .tudo-desenho {
      	background-color: #f5f5f5;
      	margin-left: 2em;
      	margin-right: 2em;
      	margin-bottom: 2em;
      	padding-left: 4em;
        padding-right: 4em;
      }
      .titulo-desenho {
      	font-size: 5em;
      	text-align: center;
      	font-weight: bold;
      	color: #7b8286;
      }

      .texto-desenho {
      	font-size: 1em;
      	text-align: center;
      	font-weight: normal;
      	color: #717981;
      }
      .conteudo-desenho {
      	font-size: 1em;
      	text-align: center;
      	font-weight: normal;
      	color: #717981;
      }
      .conteudo-desenho img {
        	width: 80vw;
        }

        /* multimedia.html */
        .tudo-multimedia {
        	background-color: #f5f5f5;
        	margin-left: 2em;
        	margin-right: 2em;
        	margin-bottom: 2em;
        	padding-left: 4em;
          padding-right: 4em;
        }
        .titulo-multimedia {
        	font-size: 5em;
        	text-align: center;
        	font-weight: bold;
        	color: #b5d7cd;
        }

        .texto-arte {
        	font-size: 1em;
        	text-align: center;
        	font-weight: normal;
        	color: #717981;
        }
        .conteudo-arte {
        	font-size: 1em;
        	text-align: center;
        	font-weight: normal;
        	color: #717981;
        }
        .conteudo-arte img {
          	width: 80vw;
          }

          /* meustrabalhos.html */
          .tudo-meustrabalhos {
            background-color: #f5f5f5;
            margin-left: 2em;
            margin-right: 2em;
            margin-bottom: 2em;
            padding-left: 4em;
            padding-right: 4em;
          }
          .titulo-meustrabalhos {
            font-family: "Source Sans Pro"
            font-size: 5em;
            text-align: center;
            font-weight: bold;
            color: #b5d7cd;
          }

          .texto-meustrabalhos {
            font-size: 1em;
            text-align: center;
            font-weight: normal;
            color: #717981;
          }
          .conteudo-meustrabalhos {
            font-size: 1em;
            text-align: center;
            font-weight: normal;
            color: #717981;
          }
          .conteudo-meustrabalhos img {
              width: 80vw;
            }
